{% extends "layout.html" %}
{% block content %}

<a href="/articles" class="px-3">Back</a>

<div class="input-group mt-5">

<form style="max-width:300px;margin:auto" method="post" action="/articles">
    <div class="  mb-1 mt-4">
        <label for="title">Title</label> <br>
        <input type="text" id ="title" name="title" value="{{ inputs.title }}" />
        {% if errors.title %}
        <p style="color:red;">
            <small>{{ errors.title[0] }}</small>
        </p>
        {% endif %}
    </div>
    <div class="  mb-1 mt-4">
        <label for="description">Description</label>
        <textarea id ="description" name="description" rows="5" cols="50">{{ inputs.description }}</textarea>
        {% if errors.description %}
        <p style="color:red;">
            <small>{{ errors.description[0] }}</small>
        </p>
        {% endif %}
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-sm btn-primary btn-block">Create</button>
    </div>

</form>
</div>
{% endblock %}